@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background-light: #ffffff;
  --border-light: #333;
  --card-light: #f0f0f0; 
  --copy-primary-light: #000;
  --copy-secondary-light: #8e05c2;
  --cta-light: #4CAF50; 
  --cta-active-light: #45a049;
  --cta-text-light: #fff;
  --grape-light: #8e05c2; 
}

.dark {
  --background-dark: #181818;
  --border-dark: #404040;
  --card-dark: #282828; 
  --copy-primary-dark: #fff;
  --copy-secondary-dark: #8e05c2;
  --cta-dark: #388e3c; 
  --cta-active-dark: #2e7d32;
  --cta-text-dark: #fff;
  --grape-dark: #8e05c2; 
}

* {
    font-family: Outfit;
}

@layer base {
    html{
        scroll-behavior: smooth;
    }
}

::-webkit-scrollbar {
    display: none;
}

/* custom class names */

.rich-text {font-size: 15px; color: #7A7B7D;}
.rich-text p{margin-bottom: 16px;}
.rich-text h1{font-size: 36px; font-weight: 800; color: #252525; margin: 10px;}
.rich-text h2{font-size: 22px; font-weight: 700; color: #252525; margin: 10px;}
.rich-text h3{font-size: 18px; font-weight: 600; color: #333333; margin: 10px;}
.rich-text h4{font-size: 16px; font-weight: 500; color: #444444; margin: 10px;}
.rich-text strong{font-weight: 700;}
.rich-text ol{margin-left: 30px; list-style-type: decimal;}
.rich-text ul{margin-left: 30px; list-style-type: disc;}
.rich-text li{margin-bottom: 8px;}

/* Global styles for dark mode */
/* Global styles for dark mode */
body {
    transition: background-color 0.3s, color 0.3s;
}

.dark {
    background-color: #010b20; /* Dark background */
    color: #f7fafc; /* Light text color */
}
  
  /* You can also add more specific styling for dark mode, like card backgrounds, inputs, etc. */
